PP03HolidayReservationClient/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerReserveRoom">
<part name="parameters" element="tns:partnerReserveRoom"/>
</message>
<message name="partnerReserveRoomResponse">
<part name="parameters" element="tns:partnerReserveRoomResponse"/>
</message>
<message name="RoomTypeNotFoundException">
<part name="fault" element="tns:RoomTypeNotFoundException"/>
</message>
<message name="ReserveRoomException">
<part name="fault" element="tns:ReserveRoomException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="getNumOfAvailableRoomsForRoomType">
<part name="parameters" element="tns:getNumOfAvailableRoomsForRoomType"/>
</message>
<message name="getNumOfAvailableRoomsForRoomTypeResponse">
<part name="parameters" element="tns:getNumOfAvailableRoomsForRoomTypeResponse"/>
</message>
<message name="viewAllRoomTypes">
<part name="parameters" element="tns:viewAllRoomTypes"/>
</message>
<message name="viewAllRoomTypesResponse">
<part name="parameters" element="tns:viewAllRoomTypesResponse"/>
</message>
<message name="getOnlinePriceForRoomType">
<part name="parameters" element="tns:getOnlinePriceForRoomType"/>
</message>
<message name="getOnlinePriceForRoomTypeResponse">
<part name="parameters" element="tns:getOnlinePriceForRoomTypeResponse"/>
</message>
<message name="CannotGetOnlinePriceException">
<part name="fault" element="tns:CannotGetOnlinePriceException"/>
</message>
<portType name="PartnerWebService">
<operation name="partnerReserveRoom">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoomRequest" message="tns:partnerReserveRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoomResponse" message="tns:partnerReserveRoomResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoom/Fault/RoomTypeNotFoundException"/>
<fault message="tns:ReserveRoomException" name="ReserveRoomException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoom/Fault/ReserveRoomException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerReserveRoom/Fault/ParseException"/>
</operation>
<operation name="viewAllReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetails/Fault/ReservationNotFoundException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetails/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getNumOfAvailableRoomsForRoomType">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getNumOfAvailableRoomsForRoomTypeRequest" message="tns:getNumOfAvailableRoomsForRoomType"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getNumOfAvailableRoomsForRoomTypeResponse" message="tns:getNumOfAvailableRoomsForRoomTypeResponse"/>
<fault message="tns:RoomTypeNotFoundException" name="RoomTypeNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getNumOfAvailableRoomsForRoomType/Fault/RoomTypeNotFoundException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/PartnerWebService/getNumOfAvailableRoomsForRoomType/Fault/ParseException"/>
</operation>
<operation name="viewAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllRoomTypesRequest" message="tns:viewAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllRoomTypesResponse" message="tns:viewAllRoomTypesResponse"/>
</operation>
<operation name="getOnlinePriceForRoomType">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getOnlinePriceForRoomTypeRequest" message="tns:getOnlinePriceForRoomType"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getOnlinePriceForRoomTypeResponse" message="tns:getOnlinePriceForRoomTypeResponse"/>
<fault message="tns:CannotGetOnlinePriceException" name="CannotGetOnlinePriceException" wsam:Action="http://ws.session.ejb/PartnerWebService/getOnlinePriceForRoomType/Fault/CannotGetOnlinePriceException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws.session.ejb/PartnerWebService/getOnlinePriceForRoomType/Fault/ParseException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerReserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="ReserveRoomException">
<soap:fault name="ReserveRoomException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getNumOfAvailableRoomsForRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RoomTypeNotFoundException">
<soap:fault name="RoomTypeNotFoundException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="viewAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOnlinePriceForRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CannotGetOnlinePriceException">
<soap:fault name="CannotGetOnlinePriceException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>